@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--This is a simple confirmation page thanking the user for entering a movie and of course 
    has the inherited nav bar for them to navigate back to the other pages
-->

<p>Thanks for your submission!</p>