@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--This is the Get to know Joel page, with some links to important parts of his life-->

<div class="text-center">
    <h1 class="display-4">About Joel</h1>
</div>

<div>
    <p>Joel regularly performs at <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></p>
</div>

<div>
    <p>Joel has his own podcast about films and pop culture called <a href="https://baconsale.com/" target="_blank">Baconsale</a></p>
    <a href="https://baconsale.com/" target="_blank"><img height="500" src="~/img/BaconsaleKate.jpg" /></a>
</div>

<div>
    <a asp-controller="Home" asp-action="Movie">Enter movies into collection</a>
</div>

