@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<!--This is the landing page with an intro to Joel and has the nav bar as well as additonal links at the bottom to the other pages-->

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>

<h1>Joel's a really great guy</h1>

<div>
    <p>Here's an awesome headshot taken of him.</p>
    <img height="500" src="~/img/JoelHiltonHeadshot.jpg" />
</div>

<br />

<div>
    <a asp-controller="Home" asp-action="GetToKnow">Get to know Joel!</a>
</div>

<div>
    <a asp-controller="Home" asp-action="Movie">Enter movies into collection</a>
</div>
